@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;500;700&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #22b573;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  height: 100%;
}

body h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 2px;
  margin-top: 15px;
  margin-left: 25px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

body #tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: 283px;
  margin-top: 65px;
}

body #tiles .tileBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

body #tiles .tileBtn #tile1,
body #tiles .tileBtn #tile2,
body #tiles .tileBtn #tile3 {
  height: 406px;
  padding: 25px;
  width: 283px;
  height: 406px;
}

body #tiles .tileBtn #tile1 .title,
body #tiles .tileBtn #tile2 .title,
body #tiles .tileBtn #tile3 .title {
  color: #ecac47;
}

body #tiles .tileBtn #tile1 .title p,
body #tiles .tileBtn #tile2 .title p,
body #tiles .tileBtn #tile3 .title p {
  margin-bottom: 5px;
}

body #tiles .tileBtn #tile1 .text,
body #tiles .tileBtn #tile2 .text,
body #tiles .tileBtn #tile3 .text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
}

body #tiles .tileBtn #tile1 {
  background-color: #1c1717;
  color: #fff;
}

body #tiles .tileBtn #tile2 {
  background-color: #fff;
  color: #1c1717;
}

body #tiles .tileBtn #tile3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 35%;
  background-color: #1c1717;
  color: #ecac47;
}

body #tiles .tileBtn #tile3 #vid {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  margin-top: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
}

#hamburger {
  position: absolute;
  top: 5px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100vw;
}

#hamburger #toggle {
  background-color: #1c1717 !important;
}

#hamburger #toggle #toggleText {
  color: #fff !important;
}

#hamburger #hamburgerBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c1717;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  padding: 0;
  margin: 10px;
}

#hamburger #hamburgerBtn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#hamburger #hamburgerBtn svg {
  color: #fff;
  stroke-width: 1;
  stroke: #fff;
}

#readBtn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  color: #ecac47;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: .9rem;
}

@media screen and (min-width: 750px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 30px;
    height: 100vh;
  }
  body h1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1000px) {
  body h1 {
    font-size: 3rem;
  }
  body #tiles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 60px;
    width: 100%;
    margin-top: 0;
  }
  #hamburger {
    position: absolute;
    top: 5px;
    right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100vw;
  }
  #hamburger #toggle {
    background-color: #1c1717 !important;
  }
  #hamburger #toggle #toggleText {
    color: #fff !important;
  }
  #hamburger #hamburgerBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #1c1717;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 10px;
  }
  #hamburger #hamburgerBtn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #hamburger #hamburgerBtn svg {
    color: #fff;
    stroke-width: 1;
    stroke: #fff;
    height: 50px;
    width: 50px;
  }
}
/*# sourceMappingURL=style.css.map */